@model MongoDB.DataAccess.Model.Customer

@{
    ViewData["Title"] = "ConfirmDelete";
}

<h1>ConfirmDelete</h1>

<h3>Are you sure you want to delete this customer?</h3>

<form asp-controller="Home" asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.CustomerID.ToString()"/>
    <table border="1" cellpadding="10">
        <tr>
            <td>Customer ID : </td>
            <td>@Model.CustomerID</td>
        </tr>
        <tr>
            <td>Name : </td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Age : </td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Salary : </td>
            <td>@Model.Salary</td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Delete</button>
            </td>
        </tr>
    </table>
</form>
